@model UserActivityLog.Models.UserLog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user_id" class="control-label"></label>
                <input asp-for="user_id" class="form-control" />
                <span asp-validation-for="user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_name" class="control-label"></label>
                <input asp-for="user_name" class="form-control" />
                <span asp-validation-for="user_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login_date" class="control-label"></label>
                <input asp-for="login_date" class="form-control" />
                <span asp-validation-for="login_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login_time" class="control-label"></label>
                <input asp-for="login_time" class="form-control" />
                <span asp-validation-for="login_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ip_address" class="control-label"></label>
                <input asp-for="ip_address" class="form-control" />
                <span asp-validation-for="ip_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="page_name" class="control-label"></label>
                <input asp-for="page_name" class="form-control" />
                <span asp-validation-for="page_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controller" class="control-label"></label>
                <input asp-for="controller" class="form-control" />
                <span asp-validation-for="controller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="http_verb" class="control-label"></label>
                <input asp-for="http_verb" class="form-control" />
                <span asp-validation-for="http_verb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
